extends ../layouts/default

mixin input(id, type, placeholder, value, autofocus)
  input.form-control(id=id,
    type=type,
    name=id,
    value=value
    placeholder=placeholder,
    autofocus=autofocus)

block content
  .row
    .col-md-12
      if (errors && errors.length > 0)
        .alert.alert-danger.alert-dismissable
          button.close(type="button", aria-hidden="true") &times;
          ul
            each error in errors
              li= error
      .signin
        block auth
        hr
        if(providers.facebook)
          a.btn.btn-lg.btn-default.btn-block(href="/auth/facebook") Sign in with Facebook
        if(providers.github)
          a.btn.btn-lg.btn-default.btn-block(href="/auth/github") Sign in with Github
        if(providers.twitter)
          a.btn.btn-lg.btn-default.btn-block(href="/auth/twitter") Sign in with Twitter
        if(providers.google)
          a.btn.btn-lg.btn-default.btn-block(href="/auth/google") Sign in with Google
